[submodule "MultiPlatform2IPFS"]
	path = MultiPlatform2IPFS
	url = ../MultiPlatform2IPFS.git
[submodule "ipdr2"]
	path = ipdr2
	url = ../ipdr.git
[submodule "P2PComm"]
	path = P2PComm
	url = ../P2PComm.git
