<h1>Strategies</h1>
<ul>
    {{range .Strategy}}
    <li class="strategy">
        <button type="button">
            <b>Type:</b> {{.Type}} <b>NameTag:</b> {{.Nametag}}
            <b>Percentage:</b> {{.Percentage}} <b>Target:</b> {{.Target}}
        </button>
        <button type="button">
            {{if .Execute}}
            <span style="color: green">●</span>
            {{else}}
            <span style="color: gray">●</span>
            {{end}}
        </button>
    </li>
    {{end}}
</ul>
