html,
body {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  margin: 0px auto -50px;
}

header {
  height: 100px;
}

footer {
  height: 50px;
}

a {
  text-decoration: none;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 50px;
}

.topnav a {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: #2b2b2b;
}

.topnav a.active {
  background-color: #2b2b2b;
}
